<h1 mat-dialog-title>Kürt módosítása</h1>

<div mat-dialog-content style="width: 500px">
  <div class="formElement">
    <h4>Törölni kívánt kürt</h4>
    <mat-form-field appearance="fill">
      <mat-label>Név</mat-label>
      <mat-select [(value)]="selectedSiren">
        <mat-option *ngFor="let siren of sirens" [value]="siren">
          {{ siren.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<mat-error style="text-align: center" *ngIf="errorMessage">{{
  errorMessage
}}</mat-error>
<div mat-dialog-actions style="display: flex; gap: 30px; margin: 20px 40px">
  <button mat-raised-button (click)="submit()" color="warn">
    <span *ngIf="!submitted">TÖRLÉS</span>
    <mat-spinner *ngIf="submitted" diameter="20"></mat-spinner>
  </button>
  <button mat-raised-button mat-dialog-close cdkFocusInitial>Bezárás</button>
</div>
