<h1 mat-dialog-title>Szenzor hozzáadása</h1>

<div mat-dialog-content style="width: 500px">
  <form
    style="display: flex; flex-direction: column"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <div class="formElement">
      <h3>Szenzor neve</h3>
      <mat-form-field>
        <mat-label name="name">Név</mat-label>
        <input name="name" matInput formControlName="name" required />
        <mat-error *ngIf="name.invalid && name.hasError('required')">
          Adjon meg egy nevet!
        </mat-error>
        <mat-error *ngIf="name.invalid && name.hasError('taken')">
          A megadott név már foglalt!
        </mat-error>
        <mat-error *ngIf="name.invalid && name.hasError('minlength')">
          A név legalább 6 karakter legyen!
        </mat-error>
      </mat-form-field>
    </div>
    <div class="formElement">
      <h3>Szenzor címe (0-255)</h3>
      <mat-form-field>
        <mat-label>Cím</mat-label>
        <input
          name="address"
          type="number"
          matInput
          only-number
          formControlName="address"
          required
        />
        <mat-error *ngIf="address.invalid && address.hasError('required')">
          Adjon meg egy számot!
        </mat-error>
        <mat-error *ngIf="address.invalid && address.hasError('taken')">
          A megadott cím már foglalt!
        </mat-error>
        <mat-error *ngIf="address.invalid && address.hasError('min')"
          >Adjon meg egy 0-nál nagyobb számot!
        </mat-error>
        <mat-error *ngIf="address.invalid && address.hasError('max')">
          Adjon meg egy 255-nél kisebb számot!
        </mat-error>
      </mat-form-field>
    </div>
    <div class="formElement">
      <h4>Panel ID</h4>
      <mat-form-field appearance="fill">
        <mat-label>Panel ID</mat-label>
        <mat-select (valueChange)="newSelected($event)">
          <mat-option *ngFor="let panel of panels" [value]="panel.id">
            {{ panel.id }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<mat-error style="text-align: center" *ngIf="errorMessage">{{
  errorMessage
}}</mat-error>
<div mat-dialog-actions style="display: flex; gap: 30px; margin: 20px 40px">
  <button mat-raised-button cdkFocusInitial (click)="submit()">
    <span *ngIf="!submitted">OK</span>
    <mat-spinner *ngIf="submitted" diameter="20"></mat-spinner>
  </button>
  <button mat-raised-button mat-dialog-close>Bezárás</button>
</div>
