.gray {
  fill: gray;
}
.green {
  fill: #66ff99;
  stroke: #66ff99;
}
.yellow {
  fill: rgb(247, 247, 93);
  stroke: rgb(247, 247, 93);
}
.red {
  fill: rgb(255, 60, 0);
  stroke: rgb(255, 60, 0);
}
