<div style="display: flex; margin: 40px; gap: 20px">
  <button mat-raised-button (click)="openCreateSensorDialog()">
    Szenzor hozzáadása
  </button>
  <button mat-raised-button (click)="openUpdateSensorDialog()">
    Szenzor módosítása
  </button>
  <button mat-raised-button (click)="openDeleteSensorDialog()">
    Szenzor törlése
  </button>
</div>
<div style="display: flex; margin: 40px; gap: 20px">
  <button mat-raised-button (click)="openCreateSirenDialog()">
    Kürt hozzáadása
  </button>
  <button mat-raised-button (click)="openUpdateSirenDialog()">
    Kürt módosítása
  </button>
  <button mat-raised-button (click)="openDeleteSirenDialog()">
    Kürt törlése
  </button>
</div>
