<h1 mat-dialog-title>Szenzor hozzáadása</h1>

<div mat-dialog-content style="width: 500px">
  <form
    style="display: flex; flex-direction: column"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <div class="formElement">
      <h3>Kürt neve</h3>
      <mat-form-field>
        <mat-label name="name">Név</mat-label>
        <input name="name" matInput formControlName="name" required />
        <mat-error *ngIf="name.invalid && name.hasError('required')">
          Adjon meg egy nevet!
        </mat-error>
        <mat-error *ngIf="name.invalid && name.hasError('minlength')">
          A név legalább 6 karakter legyen
        </mat-error>
      </mat-form-field>
    </div>
    <div class="formElement">
      <h3>Kürt címe</h3>
      <mat-form-field>
        <mat-label>Cím</mat-label>
        <input
          name="address"
          matInput
          only-number
          formControlName="address"
          required
        />
        <mat-error *ngIf="address.invalid && address.hasError('required')">
          Adjon meg egy címet!
        </mat-error>
        <mat-error *ngIf="address.invalid && address.hasError('taken')">
          A megadott cím már foglalt!
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<mat-error style="text-align: center" *ngIf="errorMessage">
  {{ errorMessage }}
</mat-error>
<div mat-dialog-actions style="display: flex; gap: 30px; margin: 20px 40px">
  <button mat-raised-button cdkFocusInitial (click)="submit()">
    <span *ngIf="!submitted">OK</span>
    <mat-spinner *ngIf="submitted" diameter="20"></mat-spinner>
  </button>
  <button mat-raised-button mat-dialog-close>Bezárás</button>
</div>
