<mat-card
  style="width: 380px; max-height: 400px; min-height: 250px"
  [ngClass]="'border' + sensor.panelId"
>
  <mat-card-header>
    <button mat-fab color="primary" class="bellIcon" (click)="changeHorn()">
      <mat-icon>{{ sensor.horn ? "volume_up" : "volume_off" }}</mat-icon>
    </button>
    <mat-card-title style="font-weight: bold">{{ sensor.name }}</mat-card-title>
    <mat-card-subtitle
      ><span>Can cím: ({{ sensor.address }})</span></mat-card-subtitle
    >
    <mat-card-subtitle
      ><span>Panel ID: ({{ sensor.panelId }})</span></mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="value !== undefined">
      {{ value }} ppm
      <span *ngIf="value !== undefined && showRaw">({{ raw }})</span>
    </p>
    <p *ngIf="value === undefined">
      ... <span *ngIf="value === undefined && showRaw">(...)</span>
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <div
      style="
        height: 50px;
        display: flex;
        gap: 10px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 20px auto;
      "
    >
      <button
        mat-fab
        *ngIf="sensor.value"
        disabled
        class="valueIcon"
        [class.warn]="
          sensor.value && sensor.value >= yellowMin && sensor.value < redMin
        "
        [class.critical]="sensor.value && sensor.value >= redMin"
      >
        <mat-icon *ngIf="sensor.value && sensor.value < yellowMin"
          >check</mat-icon
        >
        <mat-icon
          *ngIf="
            sensor.value && sensor.value >= yellowMin && sensor.value < redMin
          "
        >
          warning
        </mat-icon>
        <mat-icon *ngIf="sensor.value && sensor.value >= redMin"
          >error</mat-icon
        >
      </button>
      <span *ngIf="sensor.value === undefined"> Nincs érték </span>
      <span class="valueText" *ngIf="sensor.value && sensor.value < yellowMin">
        Megfelelő ammónia koncentráció
      </span>
      <span
        class="warn"
        *ngIf="
          sensor.value && sensor.value >= yellowMin && sensor.value < redMin
        "
      >
        Nem megfelelő ammónia koncentráció
      </span>
      <span class="critical" *ngIf="sensor.value && sensor.value >= redMin">
        Kritikus ammónia koncentráció
      </span>
    </div>
  </mat-card-actions>
  <mat-card-footer style="margin: 0 auto; margin-bottom: 20px">
    <div style="display: flex; align-items: center; justify-content: center">
      <button mat-raised-button (click)="openDialog()" color="primary">
        Diagram
      </button>
    </div>
  </mat-card-footer>
</mat-card>
