.valueIcon {
  background-color: white;
  border: 2px solid rgb(2, 180, 2);
  color: rgb(2, 180, 2);
}
.valueText {
  color: rgb(2, 180, 2);
}
.warn {
  color: rgb(255, 145, 0);
  border-color: rgb(255, 145, 0);
}
.critical {
  color: #8b0000;
  border-color: #8b0000;
}
.bellIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.border1 {
  border: 2px solid rgb(28, 88, 199);
}
.border2 {
  border: 2px solid rgb(206, 170, 52);
}
.border3 {
  border: 2px solid rgb(142, 64, 179);
}
.border4 {
  border: 2px solid rgb(8, 134, 96);
}
