<h1 style="margin-bottom: 40px">Élő Can címek</h1>
<div *ngFor="let panelId of addresses | keyvalue">
  <p>PANEL ID: {{ panelId.key }}</p>
  <div
    style="display: flex; gap: 30px; flex-wrap: wrap"
    *ngIf="panelId.value.length > 0"
  >
    <mat-card
      style="
        width: 130px;
        min-height: 80px;
        align-items: center;
        justify-content: center;
      "
      *ngFor="let address of panelId.value"
    >
      <mat-card-title
        style="font-weight: bold; text-align: center; justify-content: center"
      >
        Can cím: {{ address }}
      </mat-card-title>
    </mat-card>
  </div>
  <div *ngIf="panelId.value.length === 0">
    <p>Nincs élő can cím</p>
  </div>
</div>

<button style="margin-top: 20px" mat-raised-button (click)="reset()">
  Reset
</button>
